@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Vítejte ve webové aplikaci pro kompletní správu pojištění</h3>
    <p>Tato aplikace vznikla jako závěrečný projekt v kurzu Programator webových aplikací v C# - ITnetwork</p>

</div>
